.sidebar-container{
    flex-direction: column;
    height: 100%;
    position: sticky;
    top: 10rem;
    width: 12rem;
    z-index: 10;
    display: flex;
    overflow-y: scroll;
    position: sticky;
    flex-shrink: 0;
    background-color: var(--theme-clr);

}
.sidebar-icon-container{
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}
.sidebar-icon-container .icon{
    margin: 5px 0;
    width:3rem;
    height: 3rem;
}
.clock-icon.icon{
    width: 2.5rem;
    height: 3rem;
}
.sidebar-icon-container:hover{
    background-color: var(--clr-grey);
}

@media only screen and (max-width:43.75em){
    .sidebar-container{
        margin-left: 0;
        width: 100vw;
        flex-direction: row;
        top:auto;
        bottom: 0;
        padding-bottom: 5px;
        position: fixed;
        height: min-content;
    }
    .sidebar-icon-container{
        margin: 0;
        padding: 0 5px;
    }
    .sidebar-icon-container .icon{
        margin: 3px 0;
        width:2.5rem;
        height: 2.5rem;
    }
    .clock-icon.icon{
        width: 2.25rem;
        height: 2.75rem;
    }
    .nav-icon-txt{
        font-size: 1rem;
    }
  
}