.card-grid{
    flex-wrap: wrap;
    gap: 1.25rem;
}
.main-wrapper{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 9rem;
}
.display-img-container{
    margin-top: 0;
    overflow: hidden;
    height: 37rem;
    border-radius: 5px;
}
.display-img-container img{
    object-fit:cover;
    object-position: center;
}
.display-img-container:hover{
    transform: scale(1);
}


@media only screen and (max-width:43.75em){
    .main-wrapper{
        margin-left: 1rem;
    }

    .card-grid{
        padding: 1em ;
    }
}

@media only screen and (max-width:32.5em){
    .display-img-container{
        height: max-content;
    }
}
@media only screen and (max-width:22.5em){
    .card-grid{
        padding: 0 1.5em;
    }
}
